@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;

    font-family: 'Recursive Sans Casual Static';
}

pre {
    font-family: 'Rec Mono Casual';
}

@layer components {
    .input {
        @apply px-4 py-2 border-2 focus:outline-none hover:border-black;
    }

    .icon {
        @apply text-white;
    }

    .button {
        @apply p-1 border-2 border-white hover:border-black bg-gray-200 hover:bg-black duration-300;
    }

    .button-close {
        @apply hover:border-red-500 bg-red-400 hover:bg-red-500;
    }
}
